.App {
  background-color: #000; 
  color: #fff; 
  overflow-x: hidden; 
}
.App > * {
  border: 1px solid #ffffffcd; 
  margin-bottom: 20px; 
  padding: 20px; 
}

.navbar-brand img {
  height: 70px;
}

.navbar-nav {
  align-items: center;
}

.navbar-collapse {
  flex-grow: 1;
  justify-content: center;
}

.d-flex.align-items-center {
  margin-left: auto;
}

form.d-flex {
  flex-wrap: nowrap;
  align-items: center;
}

form.d-flex .form-control {
  border-radius: 0;
}

form.d-flex .btn {
  border-radius: 0;
}



/*carosal css*/
.carousel-image {
  height: 700px; 
  object-fit: cover; 
}

.carousel-item {
  position: relative;
}

.carousel-caption {
  position: absolute;
  bottom: 350px; 
  left: 50%;
  transform: translateX(-50%);
  background-color: rgba(0, 0, 0, 0.5); 
  padding: 10px 20px;
  border-radius: 5px;
}

.carousel-caption h5 {
  font-size: 2rem; 
  color: #2199c8; 
  font-family: cursive;
}

.carousel-caption p {
  font-size: 1.2rem;
  color: #fff; 
}


/*Card css*/
.card-container {
  margin-top: 50px; 
}

.card {
  position: relative;
  overflow: hidden;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}

.card:hover {
  transform: scale(1.05); 
}

.card-img-top {
  width: 100%;
  max-height: 350px; 
  object-fit: cover;
}


.card-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.card:hover .card-overlay {
  opacity: 1;
}

.card-overlay p {
  color: white;
  font-size: 18px;
  text-align: center;
}


